<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Connexion</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <form (ngSubmit)="onSubmit(form)" #form="ngForm">

  <ion-list>
    
      <ion-item>
          <ion-label stacked>E-mail</ion-label>
          <ion-input type="email" required email=true ngModel name="email" ></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label stacked>Mot de passe</ion-label>
          <ion-input type="password" required minlength="6" ngModel name="password" ></ion-input>
        </ion-item>   
  
  </ion-list>

  <button ion-button full type="submit">Connexion</button>
  
  </form>
</ion-content>