
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inscription</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

<form (ngSubmit)="onSubmit(form)" #form="ngForm">

  <ion-list>    

    <ion-item>
      <ion-label stacked>E-mail</ion-label>
      <ion-input type="email" required email=true [(ngModel)]="email" name="email" ></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label stacked>Mot de passe</ion-label>
      <ion-input type="password" required minlength="6" [(ngModel)]="password" name="password" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Confirmation mot de passe</ion-label>
      <ion-input type="password"  name="passwordCopie" [(ngModel)]="password"  ></ion-input>
    </ion-item>

    <ion-item>
        <ion-label stacked>Pseudo</ion-label>
        <ion-input type="text" required minlength="3" maxlength="50" name="pseudo" [(ngModel)]="pseudo" ></ion-input>
      </ion-item>
  
  </ion-list>

  <button ion-button full type="submit">Valider</button>

</form>
</ion-content>
