<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Famille</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content> 
      
      
      <button ion-button full (click)="onLinkFormEnfant(0)">Ajouter un enfant</button>
  
      <ion-list>
  
        <ion-row>
  
        <ion-col col-12 *ngFor="let childs of childs">
  
        <ion-item>
          
            <ion-card >
                <ion-card-title *ngIf="!childs.nickname">
                    {{childs.firstname}}
                  </ion-card-title>
                  <ion-card-title *ngIf="childs.nickname">
                    {{childs.nickname}}
                  </ion-card-title>
  
                <img class="img-family-child" src="assets/imgs/boy.png" *ngIf="childs.sexe" />
                <img class="img-family-child" src="assets/imgs/girl.png" *ngIf="!childs.sexe" />
            
                <ion-card-content>
  
                  
                  
                  <ion-grid>
  
                      <ion-row>
                        <ion-col col-4>
                          <img class='img-icon' src='assets/imgs/icon-dashboard.png' />
                        </ion-col>
                        <ion-col col-4 >                   
                          <img class='img-icon' src='assets/imgs/icon-child.png' (click)="onLinkFormEnfant(childs.id)"/> 
                        </ion-col>
                      
                        
                        <ion-col col-4>   
                          <img class='img-icon' src='assets/imgs/icon-chrono.png' /> 
                        </ion-col>
                      </ion-row>
  
                  </ion-grid>
                </ion-card-content>  
            
            </ion-card>
  
        </ion-item>
  
        </ion-col>
  
        </ion-row>
  
      </ion-list>
      
  </ion-content>  
    
    
  
    
  
  
  
  
  