<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="Enfant"></ion-icon>
    </button>
    <ion-title>Enfant</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>

    <form (ngSubmit)="onSubmit(formChild)" #formChild="ngForm">
  <ion-list>

    <ion-item>
      <ion-label stacked>Prénom  </ion-label>
      <ion-input type="text" required  ngModel name="firstname"  ></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label stacked>Surnom</ion-label>
      <ion-input type="text" ngModel name="nickname"></ion-input>
    </ion-item>

    <ion-list radio-group [(ngModel)]="childSexe" name=sexe>
        <ion-label>Sexe</ion-label>
      <ion-item>
        <ion-label>Fille</ion-label>
        <ion-radio value=0 ></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Garçon</ion-label>
        <ion-radio value=1  ></ion-radio>
      </ion-item>
     
    </ion-list>

    
  
  </ion-list>

  <button ion-button full type="submit" >Validation</button>

  </form>
</ion-content>